body {
  background-color: hsl(233, 47%, 7%);
  
  font-family: "Lexend Deca", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 15px;
}
a {
  text-decoration: none;
color: hsl(277, 64%, 61%);
}


h1 {
  display: inline;
  font-size: 38px;
  font-family: "Inter", sans-serif;
  margin: 5% 0 5% 0;
}
h2 {
  display: block;
  font-size: 24px;
  font-family: "Inter", sans-serif;
  margin: 0;
  width: 100%;
}
h3 {
  color: hsla(0, 0%, 100%, 0.6);
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}
.main-parag {
  color: hsla(0, 0%, 100%, 0.75);
  margin: 8% 0;
max-width: 40ch;
}


.container {
  margin: 10% auto;
  max-width: 1080px;
  background-color: hsl(244, 38%, 16%);
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
}

.prev-card {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  max-width: 540px;
}

.prev-img {
  display: flex;
  flex: 50%;
  flex-wrap: wrap;
  max-width: 540px;
  background-color: hsl(277, 64%, 61%);
  border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
}
.prev-text {
  margin: 15% 10% 10% 10%;
  
}
.prev-img img {

object-fit: fill;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
opacity: 0.5;
}
.prev-stats {
  display: flex;
  margin-top: 10%;
  
}
.stats-1 {
  
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  margin: 5% 5% 5% 0;
}
.stats-2 {
  
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  margin: 5%;
}
.stats-3 {
  
  display: flex;
  flex: 33%;
  flex-wrap: wrap;
  margin: 5% 0 5% 5%;
}
span {
  color: hsl(277, 64%, 61%); 
}